@import "neat-helpers";

// Display visual grid
$visual-grid: false !global;
$visual-grid-color: #d5eefb !global;
$visual-grid-index: front !global;

// Breakpoints
$medium: new-breakpoint(max-width 960px 6);
$tablet: new-breakpoint(max-width 768px 6);
$mobile: new-breakpoint(max-width 515px 4);