.audio-player {
	@include span-columns(12);
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;

	@include transition(background-image 1s ease, opacity 0.5s ease);

	&.active {
		opacity: 1;
	}
}