/* DJ SELECTION 
---------------------------*/
input[type=checkbox] {
	display: none;
}

label {
	display: inline-block;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	@include transition(transform 0.5s ease);
	&:hover {
		transform: scale(1.1);
	}
}

.label--druskee {
	background-image: url("../images/druskee.jpg");

}

.label--drewbacca {
	background-image: url("../images/drewbacca.jpg");
}

.label--bk {
	background-image: url("../images/bk.jpg");
	@include omega();
}

.dj--names p {
	font-family: "Oswald";
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	@include media($medium) {
		font-size: 20px;
	}

	@include media($mobile) {
		font-size: 16px;
	}
}

form h3 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;

	font-family: "Open Sans";
	font-weight: 400;
}

form button {
	font-family: "Oswald";
	font-size: 40px;
	text-transform: uppercase;
	border-radius: 4px;
	border-width: 0;
	border-style: none;
	@include pad(8px 32px);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	@include transition(all 1s ease);

	background: rgba(211, 131, 18, 0.82);
	background: -webkit-linear-gradient(to left, rgba(211, 131, 18, 0.82) , rgba(168, 50, 121, 0.82));
	background: linear-gradient(to left, rgba(211, 131, 18, 0.82) , rgba(168, 50, 121, 0.82));

	box-shadow: 0 2px 10px rgba(0,0,0,0.45);

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&:hover {
		box-shadow: 0 0 10px rgba(255,255,255,0.65);
	}

	@include media($mobile) {
		font-size: 28px;
	}
}


/* AUDIO PLAYER 
---------------------------*/
.audio-player {
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;

	@include transition(background-image 1s ease, opacity 0.5s ease);

	&.active {
		opacity: 1;
		visibility: visible;
		background-color: rgba(255,255,255,0.3);

		@include media($mobile) {
			background-color: transparent;
		}
	}
}

.player-controls {
	font-size: 75px;
	text-align: center;
	color: #222;

	&:hover {
		cursor: pointer;
	}
}

.previous, .next, .play-pause {
	@include transition(all 0.4s ease);

	&:hover {
		text-shadow: 0 0 15px rgba(255,255,255,0.65);
	}
}

.track--info {
	@include transition(all 1.5s ease-in);
}

.track--title, .track--user {
	background: rgba(211, 131, 18, 0.82);
	background: -webkit-linear-gradient(to left, rgba(211, 131, 18, 0.82) , rgba(168, 50, 121, 0.82));
	background: linear-gradient(to left, rgba(211, 131, 18, 0.82) , rgba(168, 50, 121, 0.82));
}

.track--title {
	@include pad(15px 25px 15px 15px);

	font-family: 'Oswald';
	font-size: 32px;
	text-transform: uppercase;
}

.title--long {
	font-size: 24px;
}

.track--user {
	@include pad(15px 25px 15px 35px);

	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
}

.track--art {
	width: 325px;
	height: 325px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include transition(background-image 1s ease, opacity 0.5s ease);
}

.up-next {
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 16px;
	opacity: 0;

	@include transition(all 1.5s ease-in);
}

.up-next--art {
	width: 75px;
	height: 75px;
}

.up-next ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table-row;
}

.up-next li {
	display: table-cell;
	vertical-align: middle;
}

.up-next p {
	font-style: italic;
}